html,
body {
    height: 100%;
    margin: 0;
}

.background-gradient {
    height: 100%;
    background: linear-gradient(325deg, #08627d, #ce1395);
    background-size: 400% 400%;
    -webkit-animation: BackgroundGradient 30s ease infinite;
    -moz-animation: BackgroundGradient 30s ease infinite;
    -o-animation: BackgroundGradient 30s ease infinite;
    animation: BackgroundGradient 30s ease infinite;
}

@-webkit-keyframes BackgroundGradient
 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-o-keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}
